Chatify/Chatify/settings/dev.py
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
media/*
Chatify/media/*
assets/*
Chatify/assets/*
.idea/*
CACHE
CACHE/*
togit.sh
htmlcov/
.env
.vscode/*
chatify_env/